<% layout('layout/main') -%>

    <div class="about">
        <div>
            <h1 class="h1-block">О нас</h1>
            <p class="p-block">Наша история начинается с 2024, когда Михаил Горбань открыл “Ъ” с целью предложить посетителям Краснодара уникальный опыт кухни. С тех пор мы развиваемся и стремимся к тому, чтобы каждый визит в наш ресторан был незабываемым!</p>
        </div>
        <div>
            <h1 class="h1-block">Наша миссия</h1>
            <p class="p-block">Мы стремимся создавать неповторимый опыт для каждого посетителя, предлагая высококачественные блюда, которые отражают нашу страсть к русской кухне и наше стремление к инновациям. Наша цель — сделать каждый визит в “Ъ” особенным и незабываемым.</p>
        </div>
        <div>
            <h1 class="h1-block">Наше меню</h1>
            <p class="p-block">В нашем меню вы найдете широкий выбор блюд, от классических борщов до свежих морепродуктов. Мы постоянно обновляем наше меню, чтобы предложить вам свежие и вкусные блюда, которые вы не найдете ни в одном другом месте.</p>
        </div>
        <div>
            <h1 class="h1-block">Наша команда</h1>
            <p class="p-block">Наша команда состоит из опытных шеф-поваров, официантов и менеджеров, которые всегда готовы предоставить вам лучший сервис и удовлетворить все ваши вкусовые предпочтения. Мы гордимся тем, что каждый член нашей команды вносит свой вклад в создание уникального опыта для каждого посетителя.</p>
        </div>
        
    </div>
    <div class="about-footer">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none">
                <path d="M15 30C12.0333 30 9.13319 29.1203 6.66645 27.4721C4.19972 25.8238 2.27713 23.4812 1.14181 20.7403C0.00649941 17.9994 -0.290551 14.9834 0.288228 12.0737C0.867006 9.16394 2.29562 6.49119 4.3934 4.3934C6.49119 2.29562 9.16394 0.867006 12.0737 0.288228C14.9834 -0.290551 17.9994 0.00649941 20.7403 1.14181C23.4812 2.27713 25.8238 4.19972 27.4721 6.66645C29.1203 9.13319 30 12.0333 30 15C30 18.9783 28.4197 22.7936 25.6066 25.6066C22.7936 28.4197 18.9783 30 15 30ZM15 2.00001C12.4288 2.00001 9.91543 2.76244 7.77759 4.1909C5.63975 5.61936 3.97351 7.64968 2.98957 10.0251C2.00563 12.4006 1.74819 15.0144 2.2498 17.5362C2.75141 20.0579 3.98954 22.3743 5.80762 24.1924C7.6257 26.0105 9.94208 27.2486 12.4638 27.7502C14.9856 28.2518 17.5995 27.9944 19.9749 27.0104C22.3503 26.0265 24.3807 24.3603 25.8091 22.2224C27.2376 20.0846 28 17.5712 28 15C28 11.5522 26.6304 8.24559 24.1924 5.80762C21.7544 3.36965 18.4478 2.00001 15 2.00001Z" fill="#101820"/>
                <path d="M19.24 20.66L14.29 15.71C14.1973 15.6166 14.124 15.5057 14.0742 15.3839C14.0245 15.2621 13.9993 15.1316 14 15V7H16V14.59L20.66 19.24L19.24 20.66Z" fill="#101820"/>
            </svg>
            <b>8:00 - 0:00</b>
        </div>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="29" height="32" viewBox="0 0 29 32" fill="none">
                <path d="M28 12C28 5.925 21.9557 1 14.5 1C7.04432 1 1 5.925 1 12C1 20 14.5 31 14.5 31C14.5 31 28 20 28 12Z" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
                <path d="M14.5 16C17.2112 16 19.4091 14.2091 19.4091 12C19.4091 9.79086 17.2112 8 14.5 8C11.7888 8 9.59091 9.79086 9.59091 12C9.59091 14.2091 11.7888 16 14.5 16Z" stroke="black" stroke-width="2" stroke-miterlimit="10" stroke-linejoin="round"/>
            </svg>
            <b><a href="https://yandex.ru/maps/-/CDFKQ2nC" target="_blank">ул. Ставропольская 149</a></b>
        </div>
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="27" viewBox="0 0 24 27" fill="none">
                <path d="M22.9993 19.7173V23.4808C23.0006 23.8302 22.9375 24.176 22.814 24.4961C22.6906 24.8163 22.5096 25.1036 22.2826 25.3398C22.0556 25.576 21.7876 25.7558 21.4958 25.8678C21.2039 25.9797 20.8947 26.0213 20.5879 25.9898C17.1841 25.5704 13.9145 24.2513 11.0418 22.1385C8.36914 20.2124 6.10319 17.6426 4.40487 14.6115C2.53545 11.3387 1.37207 7.6126 1.00898 3.73494C0.981336 3.38803 1.01769 3.03839 1.11572 2.70828C1.21376 2.37818 1.37132 2.07484 1.57839 1.81758C1.78546 1.56032 2.03749 1.35478 2.31843 1.21404C2.59938 1.0733 2.90309 1.00045 3.21023 1.00012H6.52869C7.06551 0.99413 7.58594 1.20972 7.99297 1.60671C8.4 2.00371 8.66586 2.55501 8.74099 3.15787C8.88106 4.36227 9.14081 5.54484 9.5153 6.68302C9.66413 7.13204 9.69634 7.62003 9.60812 8.08917C9.51989 8.55831 9.31494 8.98893 9.01753 9.33002L7.61272 10.9232C9.18739 14.0639 11.4803 16.6644 14.2496 18.4503L15.6545 16.857C15.9552 16.5197 16.3349 16.2873 16.7486 16.1872C17.1622 16.0872 17.5925 16.1237 17.9884 16.2925C18.992 16.7172 20.0348 17.0118 21.0967 17.1707C21.6341 17.2566 22.1248 17.5636 22.4756 18.0331C22.8264 18.5027 23.0128 19.1021 22.9993 19.7173Z" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <b><a href="tel:+79181234567">+7 918 123 45 67</a></b>
        </div>
    </div>
