<% layout('layout/main') -%>

    <div class="main">
            <div class="info">
                <h1>Самая вкусная еда для Вас!</h1>
                <p>Откройте двери в мир восхитительных вкусов! Наш ресторан приглашает вас на незабываемое гастрономическое путешествие. Изысканные блюда, уютная атмосфера и внимательное обслуживание — каждый визит становится уникальным кулинарным опытом. Погрузитесь в наш мир вкуса и наслаждения!</p>
                <div class="button-bar">
                    <div class="button dark" >Меню</div>
                    <div class="button orange">Забронировать</div>
                </div>
            </div>
            <div class="image">

                <img class="background" src="/images/Asset%2017.png" />
                <img class="background" src="/images/Asset%2019.png" />
                <img class="background" src="/images/Layer%203.png" />

                <img src="/images/image%201.png" alt="great photo of our restaurant"/>
            </div>
    </div>
