<% layout('layout/main') -%>

    <div class="menu">
        <div class="button black">Салаты</div>
        <div class="button black">Домашнее</div>
        <div class="button black">Блины</div>
        <div class="button black">Десерты</div>
        <div class="button black">Супы</div>
        <div class="button black">Гарниры</div>
        <div class="button black">Каши</div>
        <div class="button black">Мясо</div>
        <div class="button black">Рыба</div>
        <div class="button black">Напитки</div>
    </div>

    <div class="dishes">
        
    </div>
    <script src="/js/menu.mjs" type="module"></script>
