<header>
        <div class="shit">
            <svg xmlns="http://www.w3.org/2000/svg" width="542" height="479" viewBox="0 0 542 479" fill="none">
                <circle opacity="0.1" cx="16" cy="-47" r="525.5" stroke="#222222"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="588" height="591" viewBox="0 0 588 591" fill="none">
                <circle opacity="0.1" cx="62" cy="65" r="525.5" stroke="#222222"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="482" height="557" viewBox="0 0 482 557" fill="none">
                <circle opacity="0.1" cx="-44" cy="31" r="525.5" stroke="#222222"/>
            </svg>
        </div>
        <div class="header">
            <a href="/">
                <div class="left-header">
                    <div class="logo">

                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="24" viewBox="0 0 48 24" fill="none">
                            <path d="M0.0025884 0.03125C0.0008628 0.148543 0 0.266029 0 0.383731C0 13.4266 10.601 24 23.678 24C36.755 24 47.356 13.4266 47.356 0.383731C47.356 0.266029 47.3551 0.148543 47.3534 0.03125H0.0025884Z" fill="url(#paint0_linear_1_4106)"/>
                            <defs>
                                <linearGradient id="paint0_linear_1_4106" x1="6.36125" y1="0.0312525" x2="34.5991" y2="15.6027" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#FF9400"/>
                                    <stop offset="1" stop-color="#EA6D27"/>
                                </linearGradient>
                            </defs>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="23" viewBox="0 0 24 23" fill="none">
                            <path d="M21.6488 11.4935C21.6488 16.7323 17.3896 20.9872 12.1257 20.9872C6.86176 20.9872 2.60249 16.7323 2.60249 11.4935C2.60249 6.25469 6.86176 1.99983 12.1257 1.99983C17.3896 1.99983 21.6488 6.25469 21.6488 11.4935Z" stroke="url(#paint0_linear_1_4105)" stroke-width="3.57143"/>
                            <defs>
                                <linearGradient id="paint0_linear_1_4105" x1="4.3508" y1="3.38644" x2="19.149" y2="20.6962" gradientUnits="userSpaceOnUse">
                                    <stop stop-color="#EA6D27"/>
                                    <stop offset="1" stop-color="#EAA827"/>
                                </linearGradient>
                            </defs>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11" fill="none">
                            <path d="M10.4993 5.38634C10.4993 7.71202 8.60827 9.60213 6.26967 9.60213C3.93108 9.60213 2.04006 7.71202 2.04006 5.38634C2.04006 3.06066 3.93108 1.17055 6.26967 1.17055C8.60827 1.17055 10.4993 3.06066 10.4993 5.38634Z" stroke="#EAA427" stroke-width="2.14286"/>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
                            <path d="M9.72439 5.28722C9.72439 7.6129 7.83336 9.50301 5.49477 9.50301C3.15618 9.50301 1.26515 7.6129 1.26515 5.28722C1.26515 2.96154 3.15618 1.07143 5.49477 1.07143C7.83336 1.07143 9.72439 2.96154 9.72439 5.28722Z" stroke="#EA7727" stroke-width="2.14286"/>
                        </svg>

                    </div>

                    <span>Ъ</span>
                </div>
            </a>
            <div class="right-header">
                <a href="/menu"><div>Меню</div></a>
                <a href="/about"><div>О заведении</div></a>
                <a href="/booking"><div class="button orange">Забронировать</div></a>
            </div>
        </div>
</header>
